@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Kdam+Thmor+Pro&family=Lato:wght@300;400;700&family=Oswald&family=Roboto:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Kdam+Thmor+Pro&family=Lato:wght@300;400;700&family=Oswald&family=Roboto:wght@300;900&display=swap');
:root{
    --bg01:linear-gradient(180deg,#22262A 0%,#181A1D 100%);
    --bg02:linear-gradient(135deg,#2F3439,#1D1F23);
    --bg03:linear-gradient(135deg,#2C3136 0%,#1D2023 100%);
    --bg04: #040404;

    --border01: #22262A;
    --border02:#1A1D21;

    --box-shadow01:
    6px 6px 10px #151618,
    -6px -6px 10px #2c3136,
    inset 2px 2px 6px #33353b,
    inset -3px -3px 6px #151618;

    --box-shadow02:
    -6px -6px 10px #151618,
    6px 6px 10px #2c3136,
    inset 2px 2px 6px #33353b,
    inset -3px -3px 6px #151618;

    --box-shadow03:
    6px 6px 12px #151618,
    -6px -6px 12px #2c3136;

    --box-shadow04:
    inset 2px 2px 6px rgba(167,169,171,0.322),
    inset 0px -1px 1px 0px #4a4c4e;
    
    --box-shadow05:
    8px 8px 12px #151618,
    -2px -2px 10px #2c3136,
    inset 2px 2px 3px #33353b,
    inset -2px -2px 3px #151618;

    --box-shadow06:
    10px 10px 12px #151618,
    -10px -10px 12px #222529,
    inset 4px 4px 8px #33353b,
    inset -4px -4px 8px #151618;

    --box-shadow07:
    10px 10px 12px #151618,
    -10px -10px 12px #222529,
    inset -4px -4px 8px #33353b,
    inset 4px 4px 8px #151618;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato",sans-serif;
}

body{
    font-family: "Lato",sans-serif;
    background: var(--bg01);
    height: 100vh;
}
.wrap{
    max-width: 300px;
    height: 100%;
    text-align: center;
    padding: 0px 10px;
    margin: 40px auto;
    overflow: hidden;
    background-color:#1e2124;
    border: 1px solid #eeeeee;
    border-radius: 20px;

}

  h3 {
    /* margin: 20px; */
    font-family: "Paytone One";
    /* color: #00bcd4; */
    text-transform: uppercase;
    letter-spacing: -2px;
  }
  
  h3 span {
    display: block;
    margin: 8px 0 10px 0;
    font-size: 40px;
    line-height: 80px;
    color: #619299;
    text-shadow: 0 13.36px 8.896px #35322f,0 -2px 1px rgb(104 55 55);
    letter-spacing: -4px;
  }
  .item{
    width: 150px;
    height: 150px;
    /* margin-bottom: 20px; */
    border: 10px solid var(--border02);
    border-radius: 50%;
    box-shadow: var(--box-shadow03);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #756767;
    font-size: 15px;
}

  button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #eeeeee;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:var(--box-shadow01);
    outline: none;
  }
  
  /* 1 */
  .btn-1 {
    /* background: var(--bg03); */
    background: var(--bg03);
    border: none;
  }
  .btn-1:hover {
     background:var(--bg01);
  }

  #elements{
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align:center;
    margin-bottom: 20px;
  }
  .statusUser{
    margin-bottom: -10px;
  }
  .htbtn{
    background-color: var(--bg02);
    border: 2px solid var(--border01);
    box-shadow: var(--box-shadow01);
    width: 62px;
    height:62px;
    line-height: 62px;
    color: #86898c;
    font-size: 16px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer
}

.htbtn:active{
    box-shadow: var(--box-shadow02);
    background-color: #0f7be7;
}

.close {
	/* background-color: rgb(66, 63, 63);	 */
    margin-top: -100px;
	color: #c242bb;
    font-size: 30px;
	text-shadow:
		
		-3px 4px #40a8d8,
		-4px 3px #4da3d8,
		-4px 5px #33b2ec,
		-5px 4px #2c85bd,
		-5px 6px #0f83b9,
		-6px 5px #1471ac,
		-6px 7px #225d79,
		-7px 6px #0c4a70,
		-7px 8px #0a3244,
		-8px 7px #041e2e;
}

.scoreBet{
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    background-color: #92b7db;
    width: 100px;
    height: 30px;
    margin-top: 30px;
}

@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.snip1582 {
  background-color: var(--bg02);
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 10px;
  line-height: 20px;
  margin: 3px 10px;
  outline: none;
  padding: 4px 10px 3px;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 10px;
}

.snip1582:before,
.snip1582:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.snip1582:before {
  border-color: var(--bg01);
  border-top-width: 2px;
  left: 0px;
  top: -5px;
}

.snip1582:after {
  border-bottom-width: 2px;
  border-color: var(--bg01);
  bottom: -5px;
  right: 0px;
}

.snip1582:hover,
.snip1582.hover {
  background-color: #504741;
}

.snip1582:hover:before,
.snip1582.hover:before,
.snip1582:hover:after,
.snip1582.hover:after {
  height: 100%;
  width: 100%;
}
.btnStart:active{
    background-color:#0f7be7;
    box-shadow: var(--box-shadow02);
}